@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@405&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
 
}

body {
  background-color: #ffbc8f;
  color: white;
  width: 100%;
  max-height:1000px ;
}
/*-------------------navbar section---------------------------*/
.nav_body{
  width: 100%;
  height: 40px;
  background-color: #ffaf7a;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;

}
.nav_body img{
  margin-left: 4%;
  width: 30px;
  height: 32px;
}
.logo{
  
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*------------------------footer section------------------------*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgba(255, 188, 143,0.5);
}

/*------------------------add card section--------------------*/
.add_note{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.center{
  width: 350px;
  
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}
.input{
  width: 90%;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}
input{
  
  font-size: 23px;
  text-transform: capitalize;
  color: #fff;
}
textarea{
  height: 60px;
  color: #fff;
}
.center button{
  margin-bottom: -20px;
  margin-right:-260px;
}
button{
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: #ffbc8f;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  outline: none;
  border: none;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
button:hover{
  background: #fff;
  color: #ffbc8f;
  text-shadow: none;
}

/*================main box css====================*/
.mainbox{
  width: 95%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.box{
  position: relative;
  margin: 20px;
  padding: 10px;
  width: 20%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.box h3{
  font-size: 18px;
  margin-bottom: 10px;
}
.box p{
  text-indent: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}
.box button{
  position: absolute;
  bottom: -15px;
  right: 10px;
}

@media (max-width: 768px){
  
  .mainbox .box{
    width: 30%;
    margin: 1.66%;
    
  }
}



@media (max-width: 425px){
  .add_note .center{
    width: 300px;
  }
  

  .mainbox{
    width: 99%;
  }
  .mainbox .box{
    width: 40%;
    margin: 5%;
  }
}
@media (max-width: 320px){
  .mainbox{
    width: 100%;
    
    
  }
  
  .mainbox .box{
    width: 70%;
    margin:20px auto;
    
    
  }
}